//BASE STYLES
@use "base/reset";
@use "base/variables";

//COMPONENTS STYLES
@use "components/extends";

//LAYOUT STYLES
@use "layout/nav";
@use "layout/footer";
@use "layout/preloader";

//SECTIONS STYLES
@use "sections/sobreMi";
@use "sections/experiencia";
@use "sections/habilidades";
@use "sections/educacion";
@use "sections/certificaciones";
@use "sections/proyectos";
