@use "../base/variables" as *;
@use "../components/extends" as *;

.hero {
    padding-top: 80px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;

    .hero__content {
        min-height: calc(100dvh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__greeting {
        display: block;
        margin-bottom: 1rem;
        font-size: 0.95rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: var(--accent);
    }

    .hero__name {
        font-size: clamp(2.2rem, 6vw, 5.5rem);
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 1rem;
        background: linear-gradient(90deg,var(--accent),var(--primary));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero__role {
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--text-main);
    }

    .hero__description {
        max-width: 620px;
        font-size: 1.05rem;
        line-height: 1.7;
        color: var(--text-soft);
        margin-bottom: 2.5rem;
    }

    .hero__button {
        display: inline-block;
        width: fit-content;
        padding: 0.9rem 1.6rem;
        border-radius: 10px;
        background: var(--button-bg);
        color: var(--button-text);
        font-weight: 600;
        text-decoration: none;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .hero__social-media {
        margin-top: 20px;
        font-size: 1.5rem;

        a {
            margin-right: 15px;
            font-size: 1.8rem;
            color: var(--text-soft);
            transition: color 0.3s ease;

            &:hover {
                color: var(--accent);
            }
        }
    }
}

/* ===== ANIMACIÓN HERO ===== */

.hero__intro,
.hero__description,
.hero__button,
.hero__social-media {
    opacity: 0;
    transform: translateY(30px);
    transition:
    opacity .8s cubic-bezier(.22,.61,.36,1),
    transform .8s cubic-bezier(.22,.61,.36,1);
}

.hero.is-visible .hero__intro {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .1s;
}

.hero.is-visible .hero__description {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .25s;
}

.hero.is-visible .hero__button {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .4s;

        &:hover {
            border-color: var(--accent);
            box-shadow: 0 3px 9px 0 var(--accent);
        }
}

.hero.is-visible .hero__social-media {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .55s;
}

/* ================= SOBRE MI ================= */
#about {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 2rem;
        margin-bottom: clamp(2rem, 6vh, 4rem);
        background: linear-gradient(90deg,var(--accent),var(--primary));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .about__content {
        width: 100%;
        display: flex;
        column-gap: 20px;
        justify-content:space-around;
        .about__text {
            width: 65%;
            padding: 2rem 2rem; 
            @extend .about__box; 

                .about__icon {
                width: 44px;
                height: 44px;
                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: center;

                background: rgba(0, 255, 200, 0.15);
                color: var(--accent);
                font-size: 1.2rem;
            }
        }
        
        .about__image {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
            @extend .about__box;
            img {
                width: 50%;
                border-radius: 50%;
                border: 2px solid transparent;

                filter: grayscale(60%);
                transition:
                    filter 0.4s ease-in-out,
                    border-color 0.3s ease-in-out,
                    padding 0.3s ease-in-out,
                    box-shadow 0.3s ease-in-out;

                &:hover {
                    padding: 3px;
                    filter: grayscale(0%);
                    border: 2px solid transparent;
                    border-color: var(--accent);
                    box-shadow: 0 3px 9px 0 var(--accent);
                }
            }
        }
    }
    
    @media (max-width: 950px) {
        .about__content {
            flex-direction: column;
            align-items: center;
            .about__text, .about__image {
                
                width: 100%;
                margin-bottom: 30px;
                img {
                    filter: grayscale(0%);
                }
            }
        }
    }
    
}




