/* BLOQUEO scroll contenido */
body.is-loading {
    overflow: hidden;
}

body.is-loading > *:not(#preloader) {
    visibility: hidden;
}

/* FULLSCREEN */
#preloader {
    position: fixed;
    inset: 0;
    background: #000; // negro absoluto
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    transition:
    opacity .8s ease,
    transform .8s cubic-bezier(.22,.61,.36,1);
}

/* 3 PUNTOS */
.loader {
    display: flex;
    gap: 14px;

    span {
        width: 16px;
        height: 16px;
        background: var(--accent);
        border-radius: 50%;
        animation: pulse 1s infinite ease-in-out;
    }

    span:nth-child(2) { animation-delay: .15s; }
    span:nth-child(3) { animation-delay: .3s; }
}

@keyframes pulse {
    0%, 80%, 100% {
        transform: scale(.6);
        opacity: .4;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}

/* final */
#preloader.is-hidden {
    opacity: 0;
    transform: scale(1.2);
    pointer-events: none;
}