.about__box {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(36, 41, 57, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: border-color 0.3s ease-in-out,      
                box-shadow 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    &:hover {
        border-color: var(--accent);
        box-shadow: 0 3px 9px 0 var(--accent);
        transform: translateY(-3px);
    }
}
