@use "../base/variables" as *;

/* 1. Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
}



#inicio, #about, #experiencia, #habilidades, #educacion, #proyectos, #contacto {
  scroll-margin-top: 80px;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: radial-gradient(
    circle at top left,
    var(--bg-radial-start),
    var(--bg-radial-end)
  );
  color: var(--text-main);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  min-height: 100vh;
  line-height: 1.5;

}

#main {
  display: flex;
  flex-direction: column;;
  align-items: center;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

article,section {
  width: 100%;
}




img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 7. Root stacking context (framework friendly) */
#root,
#__next {
  isolation: isolate;
}